<a href="https://colab.research.google.com/github/abenben2/star_python_tesdt/blob/master/tutorial03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Python基礎講座（２日目）**
 
 # 前回の復習

基本的なデータの型の種類を理解しよう。

前回の復習を兼ねて基本的なデータの型の種類と、複数のデータ型をひとまとめにして扱えるコレクションについておさらいをしまよう。

# 3. Pythonのデータ型（基本編）

代表的なPythonのデータ型と、便利な使い方を紹介します。

それぞれのデータ型の紹介で、「これだけは知っておくとよいよ」という機能を挙げます。

## 3.1. はじめに

本節では整数型（int）、浮動小数点型（float）、文字列型（str）を扱います。

データ型については、Pythonの公式ドキュメントも参考にしてください。

組み込み型 https://docs.python.org/ja/3/library/stdtypes.html

## 3.2. 整数型（int）

整数を扱うには、整数型（int）を使います。

主な演算子には、前節で説明した四則演算（+、-、*、/）と剰余（%）の他に、累乗（**）があります

### 整数型
```
▶ 2+1
4
```
（コードを書いて実際に動かしてみよう）

```
▶ 3 - 8
-5
```
（コードを書いて実際に動かしてみよう）

```
▶ 6 * 9
54
```
（コードを書いて実際に動かしてみよう）

```
▶ 8 / 2
4.0
```
（コードを書いて実際に動かしてみよう）

```
▶ 5 % 2
1
```
（コードを書いて実際に動かしてみよう）

```
▶ 5 ** 2
25
```
（コードを書いて実際に動かしてみよう）

### 整数型同士の商

割り算の結果は小数点以下も出力されます

```
▶ 10 / 3
3.3333333333333335
```
（コードを書いて実際に動かしてみよう）

```
▶ 10 / 4
2.5
```
（コードを書いて実際に動かしてみよう）

```
▶ -10 / 4
-2.5
```
（コードを書いて実際に動かしてみよう）

### //での割り算

割り算の結果を整数で取得したい場合は // 演算子を使用します。 その場合は、小数点以下は切り捨てられます。

```
▶ 10 // 3
3
```
（コードを書いて実際に動かしてみよう）

```
▶ 10 // 4
2
```
（コードを書いて実際に動かしてみよう）

```
▶ -10 // 4
-3
```
（コードを書いて実際に動かしてみよう）

## 3.3. 浮動小数点型（float）

### 浮動小数点の計算

小数を扱うには浮動小数点型（float）を使います。

整数型と同様の演算子が使えます。

浮動小数点型と整数型との計算は浮動小数点型を返します。

```
▶ 5.0
5.0
```
（コードを書いて実際に動かしてみよう）

```
▶ 5.0 + 5.2
10.2
```
（コードを書いて実際に動かしてみよう）

```
▶ 10.2 + 8
18.2
```
（コードを書いて実際に動かしてみよう）

## 3.4. 文字列型（str）

文字列を使うには文字列型（str）を使います。
シングルクォート（'）かダブルクォート（"）の間に文字を入力します。 シングルクォート、ダブルクォートのどちらで書いても機能的な違いはありません。
```
▶ 'Hello,world'
'Hello,world'
▶ "Hello,world"
'Hello,world'
```

### 3.4.1. 文字のエスケープ

文字列中にクォート文字やその他の特殊な文字を含めたい場合は、バックスラッシュ（\）でエスケープします。

たとえば、シングルクォートで囲まれた文字列中では、シングルクォートを \' と書き、改行文字を \n と書きます

```
▶ print('I\'m Kazuya')
I'm Kazuya Kazuya
```
（コードを書いて実際に動かしてみよう）

```
▶ print('Hello\nworld')
Hello
world
```
（コードを書いて実際に動かしてみよう）

**シングルクォートを含む文字列について**

文字列がシングルクォートを含み、ダブルクォートを含まない場合は、ダブルクォートで囲むと見やすいです。

```
▶ print("I'm Kazuya")
I'm Kazuya
```
（コードを書いて実際に動かしてみよう）

### 3.4.2. 三重クォート

改行を含む文字列を一度に定義するには、三重クォート（クォート文字3つ）で文字列を囲みます。

シングルクォートの場合は ''' 、ダブルクォートの場合は """ です

```
▶ """ foo
▶ bar
▶ baz
▶ """
' foo\nbar\nbaz\n'
```
（コードを書いて実際に動かしてみよう）

### 3.4.3. 文字列の結合と繰り返し

文字列型同士を結合するには、プラス記号（+）を使います。

アスタリスク（*）を使って繰り返した文字列を取得できます。

アスタリスクの左に繰り返したい文字列を、右に繰り返し回数を整数型で指定します

文字列の結合
```
▶ 'Mt.' + 'Fuji'
'Mt.Fuji'
```
（コードを書いて実際に動かしてみよう）

文字列の繰り返し
```
▶ 'spam' * 5
'spamspamspamspamspam'
```
（コードを書いて実際に動かしてみよう）

### 3.4.4. インデックス表記

文字列のある位置を指定して1文字を取り出す機能です。

文字列から1文字取り出し
```
▶ 'python'[1]
'y'
```
（コードを書いて実際に動かしてみよう）

文字列の先頭文字を0として数えた1の位置にある文字、 'y' が返されています。

この位置をインデックスと呼びます。インデックスには負数も使えます。 以下の図のようになります。

![z31.png]()

### 3.4.5. スライス
Pythonのスライスを使えば、 以下のように、2、3、4番目の文字 'tho' という文字列を取り出せます。

```
▶ 'python'[2:5]
'tho'
```
（コードを書いて実際に動かしてみよう）

取り出す文字列の位置は、整数型を2つ、コロン（:）で挟んで指定します。

指定する位置は、「（取り出す文字列に）含める文字の開始位置のインデックス」から「含めずに切り捨てる文字の開始位置のインデックス」と考えられます。

「インデックスが2の位置の 't' から始まり、インデックスが5の位置の 'n' 以降を切り捨てた」文字列、'tho' が返されます。

また先頭を含む文字列のスライスは、 以下のように切り出し、切り捨て位置を省略して指定します。

```
▶ 'python'[:3]
'pyt
```
（コードを書いて実際に動かしてみよう）

さらに末尾を含む文字列のスライスは、 以下のように切り出し、切り捨て位置を省略して指定します。

```
▶ 'python'[4:]
'on'
```
（コードを書いて実際に動かしてみよう）

### 3.4.6. 文字列の長さ（len()関数）

文字列の長さを調べるには、 len() 関数を使います。 戻り値は整数型です。

```
▶ len('python')
6
```
（コードを書いて実際に動かしてみよう）

### 3.4.7. 文字列の有無（in演算子）

文字列中にある文字列が存在するかどうかを調べるには、 in 演算子を使います。

文字列中にある文字列が存在するかのチェック

```
▶ 't' in 'python'
True
```
（コードを書いて実際に動かしてみよう）

```
▶ 'k' in 'python'
False
```
（コードを書いて実際に動かしてみよう）

```
▶ 'th' in 'python'
True
```
（コードを書いて実際に動かしてみよう）

### 3.4.8. 文字列の分割（.split()メソッド）

文字列を分割するには、 .split() メソッドを使います。

分割したい文字列に対してメソッドを呼び出し、引数に**区切り文字（デリミタ）**を指定します。

ハイフンで文字列を区切るには、 以下のようにします。

**文字列の分割**
```
▶ 'pain-au-chocolat'.split('-')
['pain', 'au', 'chocolat']
```
（コードを書いて実際に動かしてみよう）

### 3.4.9. 区切り文字による文字列の結合（.join()メソッド）

文字列を区切り文字で結合するには、 .join() メソッドを使います。

区切り文字に対してメソッドを呼び出し、引数に結合したい文字列のリストを指定します（リスト 3.17）。

文字列の結合

```
▶ '-'.join(['pain', 'de', 'campagne'])
'pain-de-campagne'
```
（コードを書いて実際に動かしてみよう）

# 4. Pythonのデータ型（コレクション編）

Pythonのデータ型のうち、複数のデータ型をひとまとめにして扱えるコレクションを紹介します。

## 4.1. はじめに

コレクションにはいくつかの種類がありますが、今回はそのうちのリスト（list）について扱います。

## 4.2. リスト（list）

リストはコレクションの1つです。複数の型のデータをひとまとめにできます。

リストを定義するには角括弧（[ ]）を使い、含める要素をカンマ（,）で区切ります。

**リストの定義**
```
▶ ['spam', 'egg', 0.5]
['spam', 'egg', 0.5]
```
（コードを書いて実際に確認してみよう）

### 4.2.0 リストの結合、スライス

リストも文字列と同様に、結合やスライスが使えます。

#### **リストの結合**
```
▶ ['spam', 'ham'] + ['egg']
['spam', 'ham', 'egg']
```
（コードを書いて実際に確認してみよう）

#### **リストの繰り返し**
```
▶ ['spam'] * 5
['spam', 'spam', 'spam', 'spam', 'spam']
```
（コードを書いて実際に確認してみよう）

#### **リストの0番目を取得する**
```
▶ ['spam', 'ham', 'egg'][0]
'spam'
```
（コードを書いて実際に確認してみよう）

#### **リストのスライス(1番目以降)**
```
▶ ['spam', 'ham', 'egg'][1:]
['ham', 'egg']
```
（コードを書いて実際に確認してみよう）

#### **リストの長さ**
```
▶ len(['spam', 'ham', 'egg']) 
3
```

（コードを書いて実際に確認してみよう）

#### **リストに特定の文字列が含まれるか**
```
▶ 'ham' in ['spam', 'ham', 'egg']
True
```
（コードを書いて実際に確認してみよう）

### 4.2.1. for文

リストは、 for 文の繰り返し用変数として使えます。


``` 
▶ for animal in ['cat', 'dog', 'snake']:
▶   print(animal)
cat
dog
snake
```
（コードを書いて実際に確認してみよう）

### 4.2.2. 要素の追加

リストに要素を追加するには、 .append() メソッドを使います。 .append() メソッドはリストの末尾に要素を追加します。

リストは変更可能なオブジェクトです。 .append() メソッドによって、 animals というリストの内容が変更されます。

```
▶ animals = ['cat', 'dog', 'snake']
▶ animals.append('elephant')
▶ animals
['cat', 'dog', 'snake', 'elephant']
```
（コードを書いて実際に確認してみよう）

### 4.2.3. リスト内包表記

リスト内包表記はリストの定義方法の1つです。 比較的複雑なリストの定義を、シンプルに記述できます。

for 文の例として animals リストから各文字列の長さの一覧を作ります。

・ 一般的なfor文
```
▶ ret = []
▶ for animal in animals:
▶   ret.append(len(animal))
▶ ret
[3, 3, 5, 8]
```
（コードを書いて実際に確認してみよう）


上の「一般的なfor文」の記述をリスト内包表記に置き換えると、以下のようになります

・ リスト内包表記
```
▶ [len(animal) for animal in animals]
[3, 3, 5, 8]
```
（コードを書いて実際に確認してみよう）

3行で記述していたコードが1行になりました。内包表記を使うと簡潔に記述できることがわかったと思います。 最初は見慣れないかもしれませんが、徐々に慣れていくと良いと思います。

リストの定義時に、角括弧（[ ]）の内部に for を書きます。 for ＜変数名＞ in の部分は通常の for 文と同じです。

for の左側でひとつひとつ取り出した要素（ここでは animal）を使い、リストの各要素を作ります。 リスト 4.6 の場合、 len(animal) の結果が各要素になります。

リスト内包表記は、条件文や複数回のループ処理も記述できます。 複雑にしすぎると、かえって可読性を落としますので、ほどほどに使用することをおすすめします。複雑になりすぎる場合はループ処理で書きましょう。 リスト内包表記の仲間に、辞書(次回講義で説明)を生成する辞書内包表記や、セット(次回講義で説明)を生成するセット内包表記やジェネレータ式(講義では説明しません)などもあります。 内包表記はPythonの強力な機能の1つなのでぜひ覚えておくとよいでしょう。

他にも役に立つ書き方があるので、Pythonのドキュメントを参考にしてください。

リストの内包表記 https://docs.python.org/ja/3/tutorial/datastructures.html#list-comprehensions

### 4.2.4. 複数変数への代入

リストのようなシーケンス型から他のデータ型に値を代入する際、複数の変数への代入を一度に行えます。

・　シーケンス型から複数変数への代入
```
▶ dog, cat = ['wan', 'nyao']
▶ dog
'wan'
```
（コードを書いて実際に確認してみよう）

（続き）
```
▶ cat
'nyao'
```
（コードを書いて実際に確認してみよう）

複数の変数への代入は、右辺が文字列やタプル（次回講義で説明）の場合でも可能です。

# 5.条件分岐と繰り返し

Colaboratory（略称: Colab）では、ブラウザから Python を記述し実行できるほか、次の特長を備えています。 
- 構成が不要
- GPU への無料アクセス
- 簡単に共有

Colab は、<strong>学生</strong>、<strong>データ サイエンティスト</strong>、<strong>AI リサーチャー</strong>の皆さんの作業を効率化します。詳しくは、<a href="https://www.youtube.com/watch?v=inN8seMm7UI">Colab のご紹介</a>をご覧ください。下からすぐに使ってみることもできます。

In [ ]:
for i in range(5):
  print(i)